* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header, main, footer, nav, aside, section, article  {
    display: block;
}

header, main, footer, nav {
    width: 100%;
}

header {
    display: flex;
}

#logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 94px;
    height: 49px;
    margin-top: 28px;
    margin-left: 24px;
    display: block;
}

#layout1-header {
    height: 329px;
    flex-direction: column;
    justify-content: space-between;
}

#layout2-header {
    height: 192px;

    background: #212121;
}

.nav-horizontal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 58px;
}

.nav-horizontal-container > li {
    display: flex;
    width: 243px;
    height: 58px;
    align-items: center;
    justify-content: center;

    background: #FFCDD2;
}

.nav-item {
    color: black;
}

.nav-item:hover {
    color: #FFFFFF;
}

.nav-horizontal-container > #selected {
    display: flex;
    width: 243px;
    height: 58px;

    background: #B94A48;
}

#selected-nav-item {
    color: #FFFFFF;
}

#side-nav {
    width: 243px;
}

.nav-vertical-container > li {
    display: flex;
    width: 236px;
    height: 58px;
    align-items: center;
    justify-content: left;
    padding-left: 7px;

    background: #FFCDD2;
}

.nav-vertical-container > li > a{
    color: black;
}

.nav-vertical-container > #selected {
    background: #B94A48;
}

#main-wrapper {
    display: flex;
    width: 100%;
    background: #212121;
}

.layout1-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: top;
    justify-content: flex-start;
    padding-top: 24px;
    padding-left: 28px;
    height: 491px;
}

.layout1-content-container > section {
    display: flex;
}

.layout1-content-container > #small-block {
    margin-right: 151px;
}

.layout1-content-container > #big-block {
    margin-right: 25px;
}

.layout2-content-container {
    display: flex;
}

#small-block {
    width: 93px;
    height: 33px;
}

#big-block {
    width: 335px;
    height: 389px;
}

#medium-block {
    width: 338px;
    height: 338px;
}

.block {
    background-color: #517A8D;
}

.top-blocks {
    display: flex;
}

.low-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 724px;
    margin-top: 120px;
}

.low-blocks #medium-block:nth-child(even) {
    margin-top: 48px;
}

.top-blocks > #medium-block {
    margin-left: 30px;
}

.low-blocks > #medium-block {
    margin-left: 30px;
}

.side-content {
    display: flex;
    height: 1687px;

    background: #FFCDD2;
}

.nav-vertical-container {
    width: 243px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#aside-wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 298px;
    height: 1687px;
}

.aside-block {
    width: 128px;
    background: #C0D0E5;
}

#tall-aside-block {
    align-self: flex-end;
    margin-top: 66px;
    margin-right: 41px;
    height: 338px;
}

#short-aside-block {
    align-self: center;
    height: 125px;
    margin-bottom: 34px;
}

footer {
    height: 121px;

    background: #D6D6D6;
}