* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header, main, footer, nav, aside, section, article  {
    display: block;
}

header, nav, footer {
    width: 100%;
}

header {
    display: flex;
}

.center-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 1121px; */
    background: #212121;
}

#logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 94px;
    height: 49px;
    margin-top: 28px;
    margin-left: 24px;
}

#layout1-header {
    flex-direction: column;
    align-items: center;
}

#header1-wrapper {
    display: flex;
    width: 1000px;
    height: 388px;
    flex-direction: column;
    justify-content: space-between;
}

#header2-wrapper {
    display: flex;
    width: 1400px;
    height: 192px;
    margin: 0 auto;
}

#layout2-header {
    align-items: center;
    height: 192px;
    background: #212121;
}

#layout3-header {
    flex-direction: row;
    background: #212121;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#left-header {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    /* background: #517A8D; */
}

#right-header > section {
    width: 250px;
    height: 250px;
    background: #FFFFFF;
}

#right-header > :nth-child(1) {
    opacity: 0.2;
}

#right-header > :nth-child(2) {
    opacity: 0.5;
}

#right-header > :nth-child(3) {
    opacity: 0.7;
}

#layout3-header > div > a {
    margin-left: 38px;
    margin-top: 34px;
}

.plus-button {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 207px;
    width: 86px;
    height: 86px;;
    cursor: pointer;
}

.plus-button > :first-child {
    width: 12px;
    height: 86px;
    margin-left: 37px;
    position: absolute;
    background:#FFFFFF;
}

.plus-button > :nth-child(2) {
    width: 86px;
    height: 12px;
    position: absolute;
    background:#FFFFFF;
}

.nav-horizontal-container {
    display: flex;
    height: 58px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

#half-nav {
    width: 500px;
    height: 62px;
    justify-content: flex-start;
    position: relative;
}

#half-nav > li {
    width: 167px;
    height: 62px;
}


.nav-horizontal-container > li {
    display: flex;
    height: 58px;
    align-items: center;
    background: #FFCDD2;
}

.nav-item {
    display: flex;
    width: 243px;
    justify-content: center;
    align-items: center;
    color: black;
}

.nav-item:hover {
    color: #FFFFFF;
}

.nav-horizontal-container > #selected {
    display: flex;
    background: #B94A48;
}

.nav-horizontal-container > li > a {
    height: 58px;
}

#side-nav {
    width: 243px;
}

.nav-vertical-container > li {
    display: flex;
    height: 135px;
    align-items: center;
    background: #FFCDD2;
}

.nav-vertical-container > li > a {
    height: 135px;
    padding-left: 7px;
}

.nav-vertical-container > #selected {
    background: #B94A48;
}

.main-wrapper {
    display: flex;
    margin: 0 auto;
    background: #212121;
}

#main-wrapper-layout1 {
    width: 1000px;
}

#main-wrapper-layout2 {
    width: 1400px;
}

.layout1-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 24px;
    padding-left: 28px;
    height: 467px;
}

.layout1-content-container > section {
    display: flex;
}

.layout1-content-container > #small-block {
    margin-right: 151px;
}

.layout1-content-container > #big-block {
    margin-right: 25px;
}

.layout2-content-container {
    display: flex;
    width: 818px;
    height: 1687px;
}

.layout3-content-container {
    display: flex;
    width: 1000px;
    height: 500px;
    background: #517A8D;
}

#small-block {
    width: 93px;
    height: 33px;
}

#big-block {
    width: 335px;
    height: 389px;
}

#medium-block {
    width: 338px;
    height: 338px;
}

.block {
    background-color: #517A8D;
}

.top-blocks {
    display: flex;
}

.low-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 724px;
    margin-top: 120px;
}

.low-blocks #medium-block:nth-child(even) {
    margin-top: 48px;
}

.top-blocks > #medium-block {
    margin-left: 30px;
}

.low-blocks > #medium-block {
    margin-left: 30px;
}

.side-content {
    display: flex;
    background: #FFCDD2;
}

.nav-vertical-container {
    width: 243px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#aside-wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 1687px;
    width: 339px;
    height: 1687px;
}

.aside-block {
    width: 128px;
    background: #C0D0E5;
}

#tall-aside-block {
    align-self: flex-end;
    margin-top: 66px;
    margin-right: 41px;
    height: 338px;
}

#short-aside-block {
    align-self: center;
    height: 125px;
    margin-bottom: 34px;
}

footer {
    height: 121px;
    background: #D6D6D6;
}

