* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* .clear {
    clear: both;
} */

header, main, footer, nav, aside, section, article  {
    display: block;
}

header, main, footer, nav {
    width: 100%;
}

header {
    padding-top: 28px;
}

/* .header-flex-container {
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

#layout1-header {
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



nav {
    /* height: 58px;     */
}

#top-nav {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
}

.nav-horizontal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 58px;
}

.nav-horizontal-container > li {
    display: flex;
    width: 243px;
    height: 58px;
    align-items: center;
    justify-content: center;

    background: #FFCDD2;
}

.nav-item {
    color: black;
}

.nav-item:hover {
    color: white;
}

.nav-horizontal-container > #selected {
    display: flex;
    width: 243px;
    height: 58px;

    background: #B94A48;
}

/* .nav-horizontal-container > #selected > a {
    color: white;
} */

#side-nav {
    width: 243px;
}

.nav-vertical-container {
    width: 243px;
    height: 1687px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    background: #FFCDD2;
}

.nav-vertical-container > li {
    display: flex;
    width: 236px;
    height: 58px;
    align-items: center;
    justify-content: left;
    padding-left: 7px;

    background: #FFCDD2;
}

.nav-vertical-container > li > a{
    color: black;
    
}

.nav-vertical-container > #selected {
    background: #B94A48;
}

#main-wrapper {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* align-items: top; */
    /* justify-content: flex-start; */
    width: 100%;
    background: #212121;
}

.layout1-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: top;
    justify-content: flex-start;
    padding-top: 24px;
    padding-left: 28px;
    height: 491px;
}

.layout2-content-container {
    display: flex;
    height: 1687px;
}

.layout1-content-container > section {
    display: flex;
}

.layout1-content-container > #small-block {
    width: 93px;
    height: 33px;
}

.layout1-content-container > #big-block {
    margin-top: 7px;
    margin-left: 151px;
    width: 335px;
    height: 389px;
}

.layout1-content-container > #medium-block {
    margin-top: 7px;
    margin-left: 25px;
    width: 338px;
    height: 338px;
}

#medium-block {
    width: 338px;
    height: 338px;
}

.block {
    background-color: #517A8D;
}

.top-blocks {
    display: flex;
}

.low-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 724px;
    margin-top: 120px;
}

.low-blocks #medium-block:first-child {
    margin-bottom: 48px;
}

.top-blocks > #medium-block {
    margin-left: 30px;
}

.low-blocks > #medium-block {
    margin-left: 30px;
}

#logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 94px;
    height: 49.5px;
    margin-left: 24.5px;
    
    display: block;
}

#layout2-header {
    width: 100%;
    height: 192px;

    background: #212121;
}

footer {
    /* width: 100%; */
    height: 121px;

    background: #D6D6D6;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 41px;
    width: 298px;
    height: 1687px;

    background: #FFCDD2;
}

.aside-block {
    width: 128px;
    background: #C0D0E5;
}

.aside-block:first-child {

}

#tall-aside-block {
    align-self: flex-end;
    margin-top: 66px;
    height: 338px;
}

#short-aside-block {
    align-self: center;
    height: 125px;
    margin-bottom: 34px;
}